<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app">
        <main>
            <section>
                <div class="add-to-do-container">
                    <input placeholder="What to do?" v-model="inputValue">
                    <button class="add-btn" @click="addElementFunc()">
                        Add
                    </button>
                </div>
                <div class="show-to-do-container">
                    <ul>
                        <li class="to-do-element" v-for="item in toDoList">
                            <p>
                                <s v-if="item.done === true">
                                    {{item.text}}
                                </s>
                                <span v-else>
                                    {{item.text}}
                                </span>
                            </p>
                            <button class="remove-btn" @click="removeElementFunc($event)">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
    </div>
    <script src="js/script.js"></script>
</body>
</html>